<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DRreg</servlet-name>
        <servlet-class>DualServer.DRreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DOreg</servlet-name>
        <servlet-class>DualServer.DOreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DRlog</servlet-name>
        <servlet-class>DualServer.DRlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DOlog</servlet-name>
        <servlet-class>DualServer.DOlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSlog</servlet-name>
        <servlet-class>DualServer.TSlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AS</servlet-name>
        <servlet-class>DualServer.AS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerActivate</servlet-name>
        <servlet-class>DualServer.OwnerActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverActivate</servlet-name>
        <servlet-class>DualServer.ReceiverActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerReject</servlet-name>
        <servlet-class>DualServer.OwnerReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverReject</servlet-name>
        <servlet-class>DualServer.ReceiverReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>DualServer.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReq</servlet-name>
        <servlet-class>DualServer.SearchReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestVerify</servlet-name>
        <servlet-class>DualServer.RequestVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSICT</servlet-name>
        <servlet-class>DualServer.TSICT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASICT</servlet-name>
        <servlet-class>DualServer.ASICT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>DualServer.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSRequestVerify</servlet-name>
        <servlet-class>DualServer.TSRequestVerify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DRreg</servlet-name>
        <url-pattern>/DRreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DOreg</servlet-name>
        <url-pattern>/DOreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DRlog</servlet-name>
        <url-pattern>/DRlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DOlog</servlet-name>
        <url-pattern>/DOlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSlog</servlet-name>
        <url-pattern>/TSlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AS</servlet-name>
        <url-pattern>/AS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerActivate</servlet-name>
        <url-pattern>/OwnerActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverActivate</servlet-name>
        <url-pattern>/ReceiverActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerReject</servlet-name>
        <url-pattern>/OwnerReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverReject</servlet-name>
        <url-pattern>/ReceiverReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReq</servlet-name>
        <url-pattern>/SearchReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestVerify</servlet-name>
        <url-pattern>/RequestVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSICT</servlet-name>
        <url-pattern>/TSICT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASICT</servlet-name>
        <url-pattern>/ASICT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSRequestVerify</servlet-name>
        <url-pattern>/TSRequestVerify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
